<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/Css/Shippment.css">
  <link rel="stylesheet" href="/Css/about.css">
  <link rel="stylesheet" href="/Css/Navbar.css" />
  <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
    integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
  <!-- <link rel="icon" href="{% static 'PICO-LOGO-SHORT.png' %}" type="image/gif"> -->
  <script src="/Script/auth.js"></script>
  <script src="/Script/signin.js"></script>
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <!-- <script src="/Script/shipment.js"></script> -->
</head>

<body>
  <!-- navbar -->
  <nav class="navbar">
    <div class="logo_item">
      <i class="bx bx-menu" id="sidebarOpen"></i>
      <img src="/images/log.png" alt=""></i>Exafluence
    </div>
    <div class="search_bar">
      <h2>SCMXPERTLITE</h2>
    </div>
    <div class="navbar_content">
      <i class="bi bi-grid"></i>


      <a class="txt" href="/Templates/About.html">About</a>
      <a href="/Templates/useracc.html">
        <img src="/images/acc.png" alt="" class="profile" />
      </a>
    </div>
  </nav>
  <!-- sidebar -->
  <nav class="sidebar">
    <div class="menu_content">
      <ul class="menu_items">
        <li class="item">
          <a href="/Templates/Dashboard.html" class="nav_link submenu_item">
            <span class="navlink_icon">
              <i class="bx bx-home-alt"></i>
            </span>
            <span class="navlink">Dashboard</span>
          </a>
        </li>
      </ul>
      <ul class="menu_items">
        <li class="item">
          <a href="/Templates/Myshipment.html" class="nav_link">
            <span class="navlink_icon">
              <i class="bx bx-package"></i>
            </span>
            <span class="navlink">My shipment</span>
          </a>
        </li>
        <!-- End -->
        <li class="item">
          <a href="/Templates/NewShipment.html" class="nav_link">
            <span class="navlink_icon">
              <i class="bx bx-loader-circle"></i>
            </span>
            <span class="navlink">New Shipment</span>
          </a>
        </li>
        <li class="item">
          <a href="/Templates/DeviceData.html" class="nav_link">
            <span class="navlink_icon">
              <i class="bx bx-data"></i>
            </span>
            <span class="navlink">Device Data</span>
          </a>
        </li>
      </ul>
      <ul class="menu_items">
        <li class="item">
          <a href="/index.html" class="nav_link">
            <span class="navlink_icon">
              <i class="bx bx-log-out-circle"></i>
            </span>
            <span class="navlink" onclick="forgot()">Log out</span>
          </a>
        </li>

        <!-- Sidebar Open / Close -->
        <div class="bottom_content">
          <div class="bottom expand_sidebar">
            <!-- <span> Expand</span> -->
            <i class='bx bx-log-in'></i>
          </div>
          <div class="bottom collapse_sidebar" onclick="press()">
            <!-- <span> close</span> -->
            <i class='bx bx-log-out'></i>
          </div>
        </div>
    </div>
  </nav>
  <!-- JavaScript -->
  <script src="/Script/Sidebar.js"></script>
</body>

</html>

<body>
  <div class="wrap animate pop">
    <div class="overlay">
      <div class="overlay-content animate slide-left delay-2">
        <h1 class="animate slide-left pop delay-4">About</h1>
        <p></p>
        <p class="animate slide-left pop delay-5" style="color: white; margin-bottom: 2.5rem;">SCMXPERTLITE<em></em></p>
      </div>
      <div class="image-content animate slide delay-5"></div>
      <div class="dots animate">
        <div class="dot animate slide-up delay-6"></div>
        <div class="dot animate slide-up delay-7"></div>
        <div class="dot animate slide-up delay-8"></div>
      </div>
    </div>
    <div class="text">
      <p><img class="inset" src="/images/log.png" alt="" /></p>
      <p>
        <br><h4>SCMXPERTLITE</h4></br>
        <h5>Supply Chain Management</h5>
        Supply chain management is a dynamic field that continuously evolves with technological advancements, changing consumer behaviors, and global economic shifts. 
        Embracing innovation, fostering collaboration, and addressing challenges head-on are essential for building robust and efficient supply chains that meet the demands of the modern business landscape.
        
        <p><br>Real-time Data Stream:</br>
          SCMXperlite harnesses the power of Kafka to provide a live stream of data, allowing users to monitor their shipments in real time.
          Quick updates and notifications enable users to respond promptly to changing conditions.</p>
        
        <P>Join Us in Simplifying Shipment Management:</P>
          <p>SCMXperlite is not just a platform; it's a commitment to simplifying the complexities of shipment management. Join us on this journey to enhance productivity, improve decision-making, 
          and ensure the smooth flow of your logistics operations.</P> 
        
        
         Exafluence helps organizations to:
        <li>Create enterprise data assets</li>
        <li>Utilize enterprise data assets</li>
        <li>Provide actionable insights that leads to data-driven decisions.</li>
      </p>
    </div>
  </div>
</body>
</body>

</html>