<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
  <script src="https://kit.fontawesome.com/95a02bd20d.js"></script>
  <!-- <link rel="stylesheet" href="/Front/Css/Sidebar.css" /> -->
  <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
  <script src="/Script/access.js"></script>
  
  <link rel="stylesheet" href="/Css/feedback.css">
    <script src="/Script/feedback.js"></script>
    <script src="https://kit.fontawesome.com/95a02bd20d.js"></script>
  
    <link rel="stylesheet" href="/Css/Navbar.css" />
    <link rel="stylesheet" href="/Css/Dashboard.css">
    <script src="/Script/auth.js"></script>
    <script src="/Script/signin.js"></script>
    <title>Document</title>
</head>

<body>
  <!-- navbar -->

  <video autoplay muted loop class="myVideo">
    <source src="/images/Dashboard.mov" type="video/mp4">
  </video>
  <nav class="navbar">
    <div class="logo_item">
      <i class="bx bx-menu" id="sidebarOpen"></i>
      <img src="/images/log.png" alt=""></i>Exafluence
    </div>
    <div class="search_bar">
      <h2>SCMXPERTLITE</h2>
    </div>
    <div class="navbar_content">
      <i class="bi bi-grid"></i>
      <a class="txt" href="/Templates/About.html">About</a>
      <a href="/Templates/useracc.html">
        <img src="/images/acc.png" alt="" class="profile" />
      </a>
    </div>
  </nav>

  <section>
    <script src="https://kit.fontawesome.com/95a02bd20d.js"></script>

    <section>
      <script src="https://kit.fontawesome.com/95a02bd20d.js"></script>
  
     
        <link rel="stylesheet" href="https://maxst.icons8.com/vue-static/landings/line-awesome/line-awesome/1.3.0/css/line-awesome.min.css">
    
        <form class="container">
            <h1 class="heading">Give Feedback</h1>
            <p class="para">Share Your Experience About SCMXPERTLITE ?</p>
    
            <div class="feedback-level" id="ratingContainer">
              <div class="level" id="rate" onclick="setRating(1)">
                  <i class="lar la-sad-tear"></i>
              </div>
              <div class="level"  id="rate" onclick="setRating(2)">
                  <i class="las la-frown"></i>
              </div>
              <div class="level" id="rate" onclick="setRating(3)">
                  <i class="lar la-meh"></i>
              </div>
              <div class="level"  id="rate" onclick="setRating(4)">
                  <i class="lar la-smile"></i>
              </div>
              <div class="level"   id="rate" onclick="setRating(5)">
                  <i class="lar la-grin"></i>
              </div>
          </div>
            <div class="feedback-msg">
                <p class="para">
                    Reasons Behind Your Rating?
                </p>
                <textarea name="" id="feedbackText" required></textarea>
            </div>
    
            <div class="agreement">
            </div>
    
            <div class="buttons">
                <a href="javascript:submitFeedback()">Submit</a>
                <button onclick="clear()">Cancel</button>
            </div>
        </form>  
    
   
    
  </section>
  <!-- sidebar -->
  <nav class="sidebar">
     <ul class="menu_items">
        <li class="item">
          <a href="/Templates/Dashboard.html" class="nav_link submenu_item">
            <span class="navlink_icon">
              <i class="bx bx-home-alt"></i>
            </span>
            <span class="navlink">Dashboard</span>
          </a>
        </li>

        <!-- end -->
      </ul>
      <ul class="menu_items">
        <li class="item">
          <a href="/Templates/Myshipment.html" class="nav_link">
            <span class="navlink_icon">
              <i class="bx bx-package"></i>
            </span>
            <span class="navlink">My shipment</span>
          </a>
        </li>
        <!-- End -->
        <li class="item">
          <a href="/Templates/NewShipment.html" class="nav_link">
            <span class="navlink_icon">
              <i class="bx bx-loader-circle"></i>
            </span>
            <span class="navlink">New Shipment</span>
          </a>
        </li>
        <li class="item"  id="access_role_nav">
          <a href="/Templates/DeviceData.html" class="nav_link">
            <span class="navlink_icon">
              <i class="bx bx-data"></i>
            </span>
            <span class="navlink">Device Data</span>
          </a>
        </li>
        <li class="item" id="access_rolefeedback">
          <a href="/Templates/feedback.html" class="nav_link">
            <span class="navlink_icon">
              <i class="bx bx-receipt"></i>
            </span>
            <span class="navlink">Feedback</span>
          </a>
        </li>
      </ul>
      <ul class="menu_items">
        <li class="item">
          <a href="/index.html" class="nav_link" onclick="logout()">
            <span class="navlink_icon">
              <i class="bx bx-log-out-circle"></i>
            </span>
            <span class="navlink"  onclick="logout()">Log out</span>
          </a>
        </li>

        <!-- Sidebar Open / Close -->
        <div class="bottom_content">
          <div class="bottom expand_sidebar">
            <!-- <span> Expand</span> -->
            <i class='bx bx-log-in'></i>
          </div>
          <div class="bottom collapse_sidebar" onclick="">
            <!-- <span> close</span> -->
            <i class='bx bx-log-out'></i>
          </div>
        </div>
    

  </nav>
   <!-- JavaScript -->
  <script src="/Script/Sidebar.js"></script>

</body>



</html>




























</body>



</html>

































