<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
  <link rel="stylesheet" href="/Css/Shippment.css">
  <link rel="stylesheet" href="/Css/myshipment.css">
  <link rel="stylesheet" href="/Css/Navbar.css" />
  <script src="/Script/auth.js"></script>
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <script src="https://code.jquery.com/jquery-3.7.1.slim.js"
    integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
  <script src="/Script/access.js"></script>
  <!-- <script src="/path/to/bootstrap.bundle.min.js"></script> -->
  <script src="/Script/myshipment.js"></script>
  <script src="/Script/signin.js"></script>
</head>

<body>
  <!-- navbar -->
  <nav class="navbar">
    <div class="logo_item">
      <i class="bx bx-menu" id="sidebarOpen"></i>
      <img src="/images/log.png" alt=""></i>Exafluence
    </div>
    <div class="search_bar">
      <h6>SCMXPERTLITE</h6>
    </div>
    <div class="navbar_content">
      <i class="bi bi-grid"></i>
      <!-- <i class='bx bx-sun' id="darkLight"></i> -->
      <a class="txt" href="/Templates/About.html">About</a>
      <a href="/Templates/useracc.html">
        <img src="/images/acc.png" alt="" class="profile" />
      </a>
    </div>
  </nav>
  <!-- sidebar -->
  <nav class="sidebar">
    <div class="menu_content">
      <ul class="menu_items">
        <li class="item">
          <a href="/Templates/Dashboard.html" class="nav_link submenu_item">
            <span class="navlink_icon">
              <i class="bx bx-home-alt"></i>
            </span>
            <span class="navlink">Dashboard</span>
          </a>

        </li>

        <!-- end -->
      </ul>
      <ul class="menu_items">
        <!-- Start -->
        <li class="item">
          <a href="/Templates/Myshipment.html" class="nav_link">
            <span class="navlink_icon">
              <i class="bx bx-package"></i>
            </span>
            <span class="navlink">My shipment</span>
          </a>
        </li>
        <!-- End -->
        <li class="item">
          <a href="/Templates/NewShipment.html" class="nav_link">
            <span class="navlink_icon">
              <i class="bx bx-loader-circle"></i>
            </span>
            <span class="navlink">New Shipment</span>
          </a>
        </li>
        <li class="item" id="access_role_nav">
          <a href="/Templates/DeviceData.html" class="nav_link">
            <span class="navlink_icon">
              <i class="bx bx-data"></i>
            </span>
            <span class="navlink" id="deviceDataButton">Device Data</span>
          </a>
        </li>
        <li class="item" id="access_rolefeedback">
          <a href="/Templates/feedback.html" class="nav_link">
            <span class="navlink_icon">
              <i class="bx bx-receipt"></i>
            </span>
            <span class="navlink">Feedback</span>
          </a>
        </li>
      </ul>
      <ul class="menu_items">
        <!-- <div class="menu_title menu_setting"></div> -->
        <li class="item">
          <a href="/index.html" class="nav_link" onclick="logout()">
            <span class="navlink_icon">
              <i class="bx bx-log-out-circle"></i>
            </span>
            <span class="navlink"  onclick="logout()">Log out</span>
          </a>
        </li>

        <!-- Sidebar Open / Close -->
        <div class="bottom_content">
          <div class="bottom expand_sidebar">
            <!-- <span> Expand</span> -->
            <i class='bx bx-log-in'></i>
          </div>
          <div class="bottom collapse_sidebar" onclick="press()">
            <!-- <span> close</span> -->
            <i class='bx bx-log-out'></i>
          </div>
        </div>
    </div>
  </nav>
  <!-- JavaScript -->
  <script src="/Script/Sidebar.js"></script>
</body>

</html>
<body>
  <section class="form-container">

    <body>
      <div class="container  ">
        <h1 class="form-header"> My Shipment</h1>
        <!-- Add this to your HTML -->
        <div class="user-info-container"></div>

        <table class="table table-bordered table-hover ">
          <div class="table-responsive my-2 pagination">
            <thead class="table-danger " id="table-body">
              <tr>
                <th>Sno</th>
                <th>Email</th>
                <th>ShipmentNumber</th>
                <th>RouteDetails</th>
                <th>Device</th>
                <th>PoNumber</th>
                <th>NdcNumber</th>
                <th>SerialNumber</th>
                <th>ContainerNum</th>
                <th>GoodsType</th>
                <th>ExpectedDeliveryDate</th>
                <th>DeliveryNumber</th>
                <th>BatchId</th>
                <th>Shipment Description</th>
              </tr>
            </thead>



            <tbody class="table-body">

              <!-- Table rows will be dynamically added by JavaScript -->


            </tbody>
        </table>
      </div>
      </div>
    </body>
    </div>
  </section>
</body>

</html>