<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="/Css/Shippment.css">
  <link rel="stylesheet" href="/Css/Navbar.css" />
  <script src="/Script/auth.js"></script>
  <link href="https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css" rel="stylesheet" />
  <script src="/Script/shipment.js"></script>
  <script src="https://code.jquery.com/jquery-3.7.1.slim.js" integrity="sha256-UgvvN8vBkgO0luPSUl2s8TIlOSYRoGFAX4jlCIm9Adc=" crossorigin="anonymous"></script>
  <script src="/Script/access.js"></script>
  <script src="/Script/signin.js"></script>
</head>

<body>
  <!-- navbar -->
  <nav class="navbar">
    <div class="logo_item">
      <i class="bx bx-menu" id="sidebarOpen"></i>
      <img src="/images/log.png" alt=""></i>Exafluence
    </div>
    <div class="search_bar">
      <h2>SCMXPERTLITE</h2>
    </div>
    <div class="navbar_content">
      <i class="bi bi-grid"></i>
      <a class="txt" href="/Templates/About.html">About</a>
      <a href="/Templates/useracc.html">
        <img src="/images/acc.png" alt="" class="profile" />
      </a>
    </div>
  </nav>
  <!-- sidebar -->
  <nav class="sidebar">
    <div class="menu_content">
      <ul class="menu_items">
        <li class="item">
          <a href="/Templates/Dashboard.html" class="nav_link submenu_item">
            <span class="navlink_icon">
              <i class="bx bx-home-alt"></i>
            </span>
            <span class="navlink">Dashboard</span>
          </a>
        </li>

        <!-- end -->
      </ul>
      <ul class="menu_items">
        <!-- duplicate these li tag if you want to add or remove navlink only -->
        <!-- Start -->
        <li class="item">
          <a href="/Templates/Myshipment.html" class="nav_link">
            <span class="navlink_icon">
              <i class="bx bx-package"></i>
            </span>
            <span class="navlink">My shipment</span>
          </a>
        </li>
        <!-- End -->
        <li class="item">
          <a href="/Templates/NewShipment.html" class="nav_link">
            <span class="navlink_icon">
              <i class="bx bx-loader-circle"></i>
            </span>
            <span class="navlink">New Shipment</span>
          </a>
        </li>
        <li class="item" id="access_role_nav">
          <a href="/Templates/DeviceData.html" id="deviceDataButton" class="nav_link">
            <span class="navlink_icon">
              <i class="bx bx-data"></i>
            </span>
            <span class="navlink" id="deviceDataButton">Device Data</span>
          </a>
        </li>
        <li class="item" id="access_rolefeedback">
          <a href="/Templates/feedback.html" class="nav_link">
            <span class="navlink_icon">
              <i class="bx bx-receipt"></i>
            </span>
            <span class="navlink">Feedback</span>
          </a>
        </li>
      </ul>
      <ul class="menu_items">
        
        <li class="item">
          <a href="/index.html" class="nav_link" onclick="logout()">
            <span class="navlink_icon">
              <i class="bx bx-log-out-circle"></i>
            </span>
            <span class="navlink"  onclick="logout()">Log out</span>
          </a>
        </li>

        <!-- Sidebar Open / Close -->
        <div class="bottom_content">
          <div class="bottom expand_sidebar">
           
            <i class='bx bx-log-in'></i>
          </div>
          <div class="bottom collapse_sidebar" onclick="press()">
            <!-- <span> close</span> -->
            <i class='bx bx-log-out'></i>
          </div>
        </div>
    </div>
  </nav>
  <script src="/Script/Sidebar.js"></script>
  <script src="/Script/signin.js"></script>
</body>

</html>

<body>
  <section class="form-container">

    <form id="shipment-form">
      <p id="success-message" style="color: rgba(17, 150, 0, 0.808);"></p>
           <p id="error-message" style="color: red;"></p>
         
      <h1 class="form-header">New Shipment</h1>
      <div class="form">
        <div class="form-item form-item1  aabbcc">
          
          <label for="firstname">Shipment Number*</label>
          <input id="shipmentnum" type="number" name="firstname" required />
        </div>

        <div class="form-item form-item1 aabbcc">
          <label for="RouteDetails">RouteDetails*</label>
          <select id="routeDetails" name="routeDetails" required>
            <option value="Bangalore-Chennai">Select Route</option>
            <option value="Bangalore-Chennai">Bangalore-Chennai</option>
            <option value="Chennai-Banglore">Chennai-Banglore</option>
            
            <option value="Hyderabad-Kochin">Hyderabad-Kochin </option>
            <option value="Kochin-New Delhi">Kochin-New Delhi</option>
            <option value="Kolkata-Mumbai">Kolkata-Mumbai</option>
            <option value="New Delhi-Tirupathi">New Delhi-Tirupathi</option>
            <option value="Mumbai-Kolkata">Mumbai-Kolkata</option>
            <option value="Tirupathi-Chennai">Tirupathi-Chennai</option>
          </select>
        </div>

        <div class="form-item form-item2 aabbcc">
          <label for="phonenumber">Device Id*</label>
          <select id="devicedata" type="tel" name="Device" required >
            <option value="laptop">Select device Id</option>
            <option value="1156">1156</option>
            <option value="1157">1157</option>
            
            <option value="1158">1158 </option>
            <option value="1159">1159</option>
          </select>
        </div>
        <div class="form-item form-item2 aabbcc">
          <label for="lastname">PhNumber*</label>
          <input  id="PhNumber" type="number" name="lastname" required />
        </div>

        <div class="form-item form-item2 aabbcc">
          <label for="phonenumber">NdcNumber*</label>
          <input id="ndcNumber" type="tel" name="phonenumber" required />
        </div>

        <div class="form-item form-item2 aabbcc">
          <label for="SerialNumber">SerialNumber*</label>
          <input id="serialnumber" type="input" name="SerialNumber" required />
        </div>

        <div class="form-item form-item3 aabbcc">
          <label for="ContainerNum">ContainerNum*</label>
          <input id="containerNum" type="number" name="containerNum" required />
        </div>
        <div class="form-item form-item2 aabbcc">
          <label for="goodstype">GoodsType*</label>
          <select id="goodstype" type="tel" name="goodstype" required >
            <option value="Bangalore-Chennai">Select Goods</option>
            <option value="Pharama">Pharama</option>
            <option value="vaccines">Vaccines</option>
            
            <option value="Fish">Fish </option>
            <option value="Electronics">Electronics</option>
          </select>
        </div>

        <div class="form-item form-item2 aabbcc">
          <label for="ExpectedDeliveryDate"> ExpectedDeliveryDate*</label>
          <input id="expecteddeliveryDate" type="date" name="expecteddeliveryDate" required />
        </div>
        <div class="form-item form-item2 aabbcc">
          <label for="delivertnumber">DeliveryNumber*</label>
          <input id="delivertnumber" type="tel" name="phonenumber" required />
        </div>
        <div class="form-item form-item2 aabbcc">
          <label for="phonenumber">BatchId*</label>
          <input id="batchid" type="tel" name="phonenumber" required />
        </div>

        <div class="form-item form-item2 aabbcc">
          <label for="shipmentdescription"> ShipmentDescription*</label>
          <input id="shipmentdescription" type="input" name="ShipmentDescription" required />
          <input id="submit" class="btn btn-glow form-btn" type="submit" name="submit" value="Create"
            onsubmit="createShipment()">
          <input id="submit" class="btn btn-glow form-btn" type="reset" value="Clear" onclick="clear()">
          
        </div>


      </div>
      </div>
    </form>
  </section>
</body>
</body>

</html>